html {
    color: var(--text-000);
    background-color: var(--bg-500);
    font-size: 1.25vw;
    font-family: 'Roboto', sans-serif;
}
/*当视口宽度小于600px时，执行以下CSS代码：*/
@media (max-width: 600px) {
    html {
        font-size: 8px;
    }

}